<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"      
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>#{str.formTitle}</title>
    </h:head>

    <h:body>
        <ui:composition template="/templates/template.xhtml">
            <ui:define name="contenido">
                <h2>#{str.empresaformHeader}</h2>
                <p:fieldset legend="#{str.empresalegendForm}">
                    <h:form>
                        <h:panelGrid columns="1">
                            
                            <p:selectOneMenu value="#{empresaBean.empresa.bebida.idBebida}">
                                <f:selectItems value="#{empresaBean.bebidas}" var="e" 
                                               itemLabel="#{e.nombreBebida}" itemValue="#{e.idBebida}"></f:selectItems>                                     
                            </p:selectOneMenu>   
                            
                            <p:inputText placeholder="#{str.cuidadPrompt}" 
                                         value="#{empresaBean.empresa.cuidad}"></p:inputText>
                                         
                            <p:inputText placeholder="#{str.precioPrompt}" 
                                         value="#{empresaBean.empresa.precio}" ></p:inputText>
                            
                            <p:inputText placeholder="#{str.cpPrompt}" 
                                         value="#{empresaBean.empresa.cp}" ></p:inputText>
                            
                            <p:inputText placeholder="#{str.rutaPrompt}" 
                                         value="#{empresaBean.empresa.ruta}" ></p:inputText>
                                                          
                        </h:panelGrid>
                        <p:commandButton value="#{str.buttonSave}" action="#{empresaBean.guardar()}"></p:commandButton>
                        <p:commandButton value="#{str.buttonDelete}" action="#{empresaBean.eliminar()}"></p:commandButton>
                        <p:commandButton value="#{str.buttonCancel}" action="#{empresaBean.cancelar()}"></p:commandButton>
                    </h:form>
                </p:fieldset>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
