<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"      
      xmlns:p="http://primefaces.org/ui">

        <h:head>
             <title>#{str.listTitle}</title>
        </h:head>

        <h:body>
            <ui:composition template="/templates/template.xhtml">
                <ui:define name="contenido">
                    <h1>#{str.empresalistTitle}</h1>
                    <h:form>
                        <p:commandButton value="#{str.buttonAdd}" action="#{empresaBean.iniciar()}"></p:commandButton>
                    </h:form>
                    <p:dataTable value="#{calificacionBean.calificaciones}" var="c">
                        <p:column headerText="#{str.action}">
                            <h:form>
                                <p:commandButton value="#{str.buttonEdit}" action="#{empresaBean.editar(c)}"></p:commandButton>
                            </h:form>
                        </p:column>
                        <p:column headerText="#{str.bebidaNameHeader}">
                            <p:outputLabel value="#{c.materia.nombreMateria}"></p:outputLabel>
                        </p:column>
                        <p:column headerText="#{str.cuidadHeader}">
                            <p:outputLabel value="#{c.alumno}"></p:outputLabel>
                        </p:column>
                        <p:column headerText="#{str.precioHeader}">
                            <p:outputLabel value="#{c.periodo}"></p:outputLabel>
                        </p:column>
                        <p:column headerText="#{str.cpHeader}">
                            <p:outputLabel value="#{c.calificacion}"></p:outputLabel>
                        </p:column>
                        <p:column headerText="#{str.rutaHeader}">
                            <p:outputLabel value="#{c.estado}"></p:outputLabel>
                        </p:column>
                    </p:dataTable>
                </ui:define>
            </ui:composition>
        </h:body>
</html>
