<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{str.bebidaFormHeader}</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/template.xhtml">
            <ui:define name="contenido">
                <h2>#{str.bebidaFormHeader}</h2>
                <p:fieldset legend="#{str.bebidaLegendForm}">
                    <h:form>
                        <p:inputText placeholder="#{str.bebidaNamePrompt}" value="#{bebidaBean.bebida.nombreBebida}"></p:inputText>
                        <p:commandButton value="#{str.buttonSave}" action="#{bebidaBean.guardar()}"></p:commandButton>
                        <p:commandButton value="#{str.buttonDelete}" action="#{bebidaBean.eliminar()}"></p:commandButton>
                        <p:commandButton value="#{str.buttonCancel}" action="#{bebidaBean.cancelar()}"></p:commandButton>
                    </h:form>
                </p:fieldset>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
