<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"      
      xmlns:p="http://primefaces.org/ui">

        <h:head>
             <title>#{str.subjectListTitle}</title>
        </h:head>

        <h:body>
            <ui:composition template="/templates/template.xhtml">
                <ui:define name="contenido">
                    <h1>#{str.subjectListTitle}</h1>
                    <h:form>
                        <p:commandButton value="#{str.buttonAdd}" action="#{bebidaBean.iniciar()}"></p:commandButton>
                    </h:form>
                    <p:dataTable value="#{bebidaBean.bebidas}" var="b">
                        <p:column headerText="#{str.action}">
                            <h:form>
                                <p:commandButton value="#{str.buttonEdit}" action="#{bebidaBean.editar(b)}"></p:commandButton>
                            </h:form>
                        </p:column>
                        <p:column headerText="#{str.subjectNameHeader}">
                            <p:outputLabel value="#{b.nombreBebida}"></p:outputLabel>
                        </p:column>
                    </p:dataTable>
                </ui:define>
            </ui:composition>
        </h:body>
</html>
